<div class="bg-gray">
    <header class="navbar container">
        <section class="navbar-section">
            <a class="btn btn-link" href="/panel/owner/">Home</a>
                <a class="btn btn-link" href="/panel/owner/owners/edit">Profile</a>
        </section>
        <section class="navbar-center">
            <img alt="logo emam" class="adm-logo" src="/assets/images/logo_emam_100x100.webp">
        </section>
        <section class="navbar-section">
            <a class="btn btn-link" href="/panel/owner/logout">Logout</a>
        </section>
    </header>
</div>
