<div v-if="sideMenuIndex == 1">
    <h3 class="mt-2">Outbox</h3>
    <div class="columns" style="margin: 10px 0;">
        <div class="column col-2">
            <div class="form-group">
                <label class="form-label" for="filter">Filter</label>
                <input class="form-input" type="text" id="filter" placeholder="filter..." v-model="filter">
            </div>
        </div>
    </div>
    <div style="max-height: 400px;overflow-y: auto;overflow-x: hidden;">
        <datatable :columns="outboxCols" :data="outbox" class="table" :filter="filter">
            <template scope="{ row, column, index }">
                <tr>
                    <td class="text-center">{{ index + 1 }}</td>
                    <td>{{ row.createdAt }}</td>
                    <td>{{ row.receiverName }}</td>
                    <td>{{ row.subject}} </td>
                    <td class="text-center">
                            <a v-bind:href="'/panel/owner/message/'+row._id+'/view'" class="btn my-2">View Message</a>
                    </td>
                </tr>
            </template>
        </datatable>
    </div>
</div>
